@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lobster&family=Space+Grotesk:wght@300..700&display=swap');
        :root {
            --primary: #d4a373;
            --dark: #1a1a1a;
            --darker: #111111;
            --panel: #252525;
            --white: #fefae0;
            --border: #444;
            --today-bg: #3a4750;
            --selected-blue: #1a73e8;
        }

        body {
            font-family: 'Segoe UI', sans-serif;
            background-color: var(--dark);
            color: var(--white);
            margin: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            font-family: 'EB Garamound', sans-serif;

        }

        nav {
            height: 60px;
            background-color: var(--dark);
            border-bottom: 2px solid var(--border);
            display: flex;
            align-items: center;
            /* justify-content: space-between; */
            padding: 0 2rem;
            flex-shrink: 0;
            transition: 0.3s;
        }

        nav:hover {
            background-color: var(--darker);
        }

        .main-container {
            display: flex;
            flex: 1;
        }

        /* --- LEFT SIDEBAR: THE CALENDAR --- */
        .sidebar-left {
            width: 320px;
            background-color: var(--dark);
            padding: 1rem;
            border-right: 1px solid var(--border);
            transition: 0.3s;
        }


        .calendar-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;
        }

        .calendar-grid {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            text-align: center;
            font-size: 0.85rem;
            margin-right: 10px;
            margin-left: 0px;
        }

        .calendar-day-label { color: #888; font-weight: bold; margin-bottom: 10px; }

        .calendar-date {
            padding: 4px 0;
            margin: 1px;
            cursor: pointer;
            border-radius: 20%;
            transition: 0.2s;
            aspect-ratio: 1/1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .back-front {
            width: 40px;
            height: 40px;
            
            background: var(--panel);
            border: 1px solid var(--border);
            color: white;
            border-radius: 8px;
            cursor: pointer;
            text-align: center;
            transition: 0.3s;
        }

        .action-btns {
            width: 100%;
            height: 40px;
            
            background: var(--panel);
            border: 1px solid var(--border);
            color: white;
            border-radius: 8px;
            cursor: pointer;
            text-align: center;
            transition: 0.3s;
        }

        .back-front:hover, .action-btns:hover {border-color: var(--primary);}
        

        .calendar-date:hover { background: var(--border); }
        .calendar-date.active { background: var(--primary); color: white; font-weight: bold; }
        .calendar-date.today { border: 1px solid var(--primary); }
        .calendar-date.other-month { color: #555; }

        /* --- CENTER AREA: DYNAMIC CONTENT --- */
        .content-area {
            flex: 1;
            padding: 2rem;
            overflow-y: auto;
            transition: 0.5s;
        }

        .section-title {
            border-bottom: 1px solid var(--border);
            padding-bottom: 10px;
            margin-bottom: 20px;
            color: var(--primary);
        }

        .btn-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 15px;
        }

        .card-btn {
            background: var(--panel);
            border: 1px solid var(--border);
            color: white;
            padding: 20px;
            border-radius: 8px;
            cursor: pointer;
            text-align: center;
            transition: 0.3s;
        }

        .card-btn:hover { border-color: var(--primary); transform: translateY(-3px); }

        /* Hidden by default, JS will toggle display: block */
        #roomView, #scheduleView, #selectedRoomId, #userBookingsView, #form-group-error-msg, #form-group-error-msg-2 { display: none; }

        /* --- RIGHT SIDEBAR: FORM --- */
        .sidebar-right {
            width: 300px;
            background-color: var(--dark);
            padding: 1.5rem;
            border-left: 1px solid var(--border);
            transition: 0.3s;
        }

        .form-group { margin-bottom: 1.2rem; }
        label { font-size: 0.8rem; color: #aaa;}
        input { 
            width: 100%; padding: 10px; margin-top: 5px; box-sizing: border-box;
            background: #111; color: white; border: 1px solid var(--border); border-radius: 10px;
        }
        table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        th, td { padding: 12px; border: 1px solid var(--border); text-align: left; }
        tr:hover {
            background-color: var(--darker);
        }
        